.color-example{
    color:red;
    background-color: #00ff00;
}

.background-example {
    background-color: rgb(60, 228, 250);
}

.background-postion-example{
    background-image: url(./background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    
}

.opacity-example{
    background-color: rgba(255, 0, 0, 0.3);
}

.image-example{
    display:block;
    margin: 0 auto;
}

.image-sizing-example{
    width:200px;
    height: auto;
    display: block;
    margin: auto 0;
}