/* Use . for class */
.font-family-size{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;

}
.bold{
    font-weight:bold;
}

.italic{
    font-style:italic;
}

.underline{
    text-decoration: underline;
}

.center-align{
    text-align: center;
}

.line-through{
    text-decoration: line-through;
}

.line-height{
    line-height: 8;
}

.letter-spacing{
    letter-spacing: 6px;
}

.text-shadow{
    text-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);
}
